SMTP_HOST=smtp.infomaniak.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_REQUIRE_TLS=true
SMTP_USER=sandbox@raxos.ai
SMTP_PASSWORD=
CONTACT_FROM=Raxos Website <sandbox@raxos.ai>
CONTACT_TO=sandbox@raxos.ai
